# Modeles

https://www.kaggle.com/c/home-credit-default-risk

In [1]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
import pandas as pd

from hyperopt import hp, tpe
from hyperopt.fmin import fmin

from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer

import xgboost as xgb

import lightgbm as lgbm


import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
#import gc

# bokeh basics

#from bokeh.plotting import figure
#from bokeh.io import show, output_notebook

pd.set_option('display.max_columns', 200) #Pour avoir accès à toutes les colonnes dans la méthode display
pd.set_option('display.max_rows', 200) #Pour avoir accès à toutes les colonnes dans la méthode display
pd.set_option('max_colwidth', 255)

In [3]:
def convert_types(df, print_info = False):
    
    original_memory = df.memory_usage().sum()
    
    # Iterate through each column
    for c in df:
        
        # Convert ids and booleans to integers
        if ('SK_ID' in c):
            df[c] = df[c].fillna(0).astype(np.int32)
            
        # Convert objects to category
        elif (df[c].dtype == 'object') and (df[c].nunique() < df.shape[0]):
            df[c] = df[c].astype('category')
        
        # Booleans mapped to integers
        elif list(df[c].unique()) == [1, 0]:
            df[c] = df[c].astype(bool)
        
        # Float64 to float32
        elif df[c].dtype == float:
            df[c] = df[c].astype(np.float32)
            
        # Int64 to int32
        elif df[c].dtype == int:
            df[c] = df[c].astype(np.int32)
        
    new_memory = df.memory_usage().sum()
    
    if print_info:
        print(f'Original Memory Usage: {round(original_memory / 1e9, 2)} gb.')
        print(f'New Memory Usage: {round(new_memory / 1e9, 2)} gb.')

In [4]:
# Read train/test table
train = pd.read_csv('../m_train.csv', index_col = 'SK_ID_CURR')

In [5]:
train

,CREDIT_TERM,DAYS_BIRTH,DAYS_EMPLOYED,client_installments_AMT_PAYMENT_min_sum,AMT_ANNUITY,DAYS_LAST_PHONE_CHANGE,bureau_DAYS_CREDIT_max,DAYS_ID_PUBLISH,client_cash_CNT_INSTALMENT_FUTURE_mean_max,AMT_CREDIT,bureau_DAYS_CREDIT_ENDDATE_max,ANNUITY_INCOME_PERCENT,client_installments_AMT_PAYMENT_min_min,bureau_AMT_CREDIT_SUM_DEBT_mean,DAYS_REGISTRATION,bureau_DAYS_CREDIT_mean,CODE_GENDER_F,previous_CNT_PAYMENT_mean,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,bureau_AMT_CREDIT_SUM_mean,client_cash_CNT_INSTALMENT_FUTURE_mean_mean,bureau_AMT_CREDIT_MAX_OVERDUE_sum,previous_HOUR_APPR_PROCESS_START_mean,client_credit_CNT_DRAWINGS_ATM_CURRENT_mean_min,client_installments_AMT_PAYMENT_sum_mean,previous_AMT_DOWN_PAYMENT_mean,bureau_AMT_CREDIT_SUM_min,client_installments_AMT_PAYMENT_min_max,bureau_AMT_CREDIT_SUM_max,CREDIT_INCOME_PERCENT,previous_NAME_YIELD_GROUP_low_action_mean,previous_RATE_DOWN_PAYMENT_max,client_cash_CNT_INSTALMENT_FUTURE_min_max,bureau_AMT_CREDIT_SUM_LIMIT_mean,bureau_DAYS_CREDIT_UPDATE_max,client_installments_NUM_INSTALMENT_VERSION_mean_max,previous_DAYS_DECISION_max,client_installments_DAYS_ENTRY_PAYMENT_sum_max,client_installments_AMT_PAYMENT_sum_max,bureau_CREDIT_ACTIVE_Active_sum,previous_SELLERPLACE_AREA_max,client_installments_NUM_INSTALMENT_VERSION_mean_mean,bureau_AMT_CREDIT_MAX_OVERDUE_mean,previous_PRODUCT_COMBINATION_CashXSelllow_mean,client_credit_CNT_DRAWINGS_CURRENT_mean_mean,OWN_CAR_AGE,NAME_EDUCATION_TYPE_Highereducation,bureau_DAYS_CREDIT_ENDDATE_mean,previous_NAME_CONTRACT_STATUS_Refused_mean,bureau_DAYS_ENDDATE_FACT_max,NAME_FAMILY_STATUS_Married,client_installments_AMT_PAYMENT_mean_max,bureau_DAYS_CREDIT_sum,previous_NAME_YIELD_GROUP_high_mean,previous_AMT_ANNUITY_min,previous_AMT_ANNUITY_max,client_installments_AMT_INSTALMENT_max_max,bureau_DAYS_CREDIT_min,bureau_DAYS_CREDIT_ENDDATE_sum,previous_DAYS_LAST_DUE_1ST_VERSION_sum,client_installments_DAYS_ENTRY_PAYMENT_min_mean,previous_AMT_GOODS_PRICE_min,bureau_CREDIT_TYPE_Mortgage_mean,previous_AMT_ANNUITY_mean,client_installments_AMT_INSTALMENT_max_min,bureau_DAYS_CREDIT_ENDDATE_min,previous_NAME_TYPE_SUITE_Unaccompanied_mean,previous_RATE_DOWN_PAYMENT_sum,client_installments_AMT_PAYMENT_sum_min,client_installments_AMT_PAYMENT_mean_mean,previous_DAYS_FIRST_DUE_mean,client_installments_AMT_INSTALMENT_min_sum,bureau_AMT_CREDIT_SUM_DEBT_max,previous_AMT_CREDIT_max,previous_AMT_CREDIT_mean,AMT_INCOME_TOTAL,previous_NAME_YIELD_GROUP_low_normal_mean,previous_HOUR_APPR_PROCESS_START_max,bureau_AMT_CREDIT_SUM_OVERDUE_mean,client_credit_CNT_DRAWINGS_CURRENT_max_min,bureau_DAYS_CREDIT_UPDATE_mean,client_cash_NAME_CONTRACT_STATUS_Active_sum_mean,client_cash_MONTHS_BALANCE_min_mean,client_installments_AMT_INSTALMENT_max_sum,client_cash_CNT_INSTALMENT_FUTURE_mean_min,previous_CHANNEL_TYPE_Creditandcashoffices_mean,bureau_CREDIT_ACTIVE_Closed_mean,client_cash_CNT_INSTALMENT_FUTURE_min_mean,previous_RATE_DOWN_PAYMENT_mean,previous_AMT_ANNUITY_sum,bureau_AMT_CREDIT_SUM_LIMIT_sum,previous_CNT_PAYMENT_max,client_cash_MONTHS_BALANCE_sum_max,client_cash_MONTHS_BALANCE_sum_min,FLAG_DOCUMENT_3,previous_DAYS_LAST_DUE_max,client_cash_CNT_INSTALMENT_FUTURE_mean_sum,client_cash_MONTHS_BALANCE_min_max,previous_DAYS_DECISION_mean,...,previous_NAME_SELLER_INDUSTRY_Consumerelectronics_mean,client_cash_NAME_CONTRACT_STATUS_Signed_mean_mean,client_credit_CNT_DRAWINGS_POS_CURRENT_max_sum,client_bureau_balance_STATUS_X_sum_mean,client_credit_AMT_DRAWINGS_POS_CURRENT_sum_sum,client_bureau_balance_MONTHS_BALANCE_max_sum,previous_NAME_CONTRACT_TYPE_Revolvingloans_mean,AMT_REQ_CREDIT_BUREAU_MON,OCCUPATION_TYPE_Highskilltechstaff,client_bureau_balance_MONTHS_BALANCE_max_mean,ORGANIZATION_TYPE_Military,previous_NAME_PORTFOLIO_XNA_mean,ORGANIZATION_TYPE_Industrytype9,previous_PRODUCT_COMBINATION_POShouseholdwithinterest_mean,client_cash_NAME_CONTRACT_STATUS_Active_sum_min,client_cash_NAME_CONTRACT_STATUS_Completed_mean_mean,previous_NAME_SELLER_INDUSTRY_Clothing_mean,client_cash_NAME_CONTRACT_STATUS_Returnedtothestore_sum_sum,previous_WEEKDAY_APPR_PROCESS_START_FRIDAY_mean,previous_NAME_GOODS_CATEGORY_Computers_mean,client_bureau_balance_STATUS_C_mean_mean,previous_NAME_TYPE_SUITE_Spousepartner_mean,client_credit_AMT_DRAWINGS_CURRENT_max_min,previous_NAME_GOODS_CATEGORY_PhotoCinemaEquipment_mean,previous_NAME_GOODS_CATEGORY_AudioVideo_mean,client_credit_AMT_PAYMENT_TOTAL_CURRENT_max_min,client_bureau_balance_STATUS_C_mean_sum,bureau_AMT_ANNUITY_min,client_bureau_balance_STATUS_X_sum_sum,client_credit_CNT_INSTALMENT_MATURE_CUM_mean_min,client_cash_CNT_INSTALMENT_min_min,client_credit_AMT_DRAWINGS_POS_CURRENT_max_min,client_bureau_balance_MONTHS_BALANCE_sum_sum,previous_NAME_CONTRACT_STATUS_Refused_sum,previous_CHANNEL_TYPE_RegionalLocal_mean,previous_NAME_SELLER_INDUSTRY_Connectivity_sum,REG_CITY_NOT_WORK_CITY,FLAG_PHONE,previous_NAME_TYPE_SUITE_Family_mean,client_credit_AMT_INST_MIN_REGULARITY_sum_sum,client_credit_AMT_DRAWINGS_ATM_CURRENT_sum_sum,client_bureau_balance_MONTHS_BALANCE_max_min,bureau_AMT_CREDIT_SUM_LIMIT_min,OCCUPATION_TYPE_Accountants,previous_PRODUCT_COMBINATION_Cash_mean,previous_PRODUCT_COMBINATION_CashStreetmiddle_mean,previous_PRODUCT_COMBINATION_POSindustrywithoutinterest_mean,previous_NAME_SELLER_INDUSTRY_Construction_mean,client_installments_NUM_INSTALMENT_NUMBER_sum_min,previous_CODE_REJECT_REASON_LIMIT_mean,previous_CHANNEL_TYPE_Stone_mean,client_credit_CNT_DRAWINGS_ATM_CURRENT_max_min,client_credit_CNT_DRAWINGS_ATM_CURRENT_sum_sum,bureau_AMT_CREDIT_MAX_OVERDUE_min,client_bureau_balance_STATUS_0_mean_mean,client_cash_NAME_CONTRACT_STATUS_Signed_mean_max,client_credit_AMT_DRAWINGS_OTHER_CURRENT_max_sum,previous_CODE_REJECT_REASON_XAP_sum,client_cash_SK_DPD_max_min,previous_CODE_REJECT_REASON_SCOFR_mean,previous_CODE_REJECT_REASON_HC_sum,previous_PRODUCT_COMBINATION_CashXSellmiddle_mean,client_bureau_balance_STATUS_C_sum_max,previous_NAME_CONTRACT_STATUS_Unusedoffer_mean,client_credit_NAME_CONTRACT_STATUS_Completed_mean_mean,previous_PRODUCT_COMBINATION_POShouseholdwithoutinterest_mean,client_credit_NAME_CONTRACT_STATUS_Signed_mean_min,client_credit_AMT_DRAWINGS_POS_CURRENT_mean_min,client_cash_CNT_INSTALMENT_min_max,NAME_HOUSING_TYPE_Houseapartment,previous_NFLAG_INSURED_ON_APPROVAL_sum,NAME_HOUSING_TYPE_Officeapartment,ORGANIZATION_TYPE_Bank,client_credit_AMT_CREDIT_LIMIT_ACTUAL_min_min,client_credit_AMT_DRAWINGS_CURRENT_sum_min,client_cash_SK_DPD_DEF_max_max,ORGANIZATION_TYPE_School,NAME_EDUCATION_TYPE_Lowersecondary,previous_NAME_SELLER_INDUSTRY_Furniture_mean,previous_PRODUCT_COMBINATION_CardXSell_mean,previous_CNT_PAYMENT_min,client_credit_AMT_DRAWINGS_ATM_CURRENT_max_sum,client_bureau_balance_STATUS_2_mean_mean,previous_NAME_GOODS_CATEGORY_SportandLeisure_mean,client_installments_NUM_INSTALMENT_NUMBER_min_max,previous_PRODUCT_COMBINATION_POSmobilewithinterest_mean,client_credit_AMT_DRAWINGS_ATM_CURRENT_count_min,client_cash_NAME_CONTRACT_STATUS_Returnedtothestore_mean_max,previous_CHANNEL_TYPE_Creditandcashoffices_sum,OCCUPATION_TYPE_Salesstaff,previous_DAYS_FIRST_DRAWING_min,previous_CODE_REJECT_REASON_VERIF_mean,client_credit_AMT_CREDIT_LIMIT_ACTUAL_min_sum,FLAG_DOCUMENT_16,previous_NAME_CLIENT_TYPE_Repeater_mean,previous_NAME_TYPE_SUITE_Unaccompanied_sum,client_credit_CNT_DRAWINGS_POS_CURRENT_sum_min,client_bureau_balance_STATUS_1_sum_mean,previous_NAME_GOODS_CATEGORY_ConstructionMaterials_mean,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100002,16.461103,-9461,-637.0,175783.73,24700.5,-1134.0,-103.0,-2120,15.000,406597.5,780.0,0.121978,9251.775,49156.20,-3648.0,-874.000000,0,24.000000,0.018801,2,108131.945,15.000000,8405.145,9.000000,NaN,219625.700,0.00,0.0,9251.775,450000.0,2.007889,0.0,0.000000,6.0,7997.141,-7.0,1.052632,-606.0,-5993.0,219625.700,2.0,500.0,1.052632,1681.029,0.000000,NaN,0.0,0,-349.0000,0.000000,-36.0,0,11559.2470,-6992.0,0.000000,9251.775,9251.775,53093.746,-1437.0,-2094.0,125.0,-587.00000,179055.00,0.0,9251.775,53093.746,-1072.0,0.000000,0.000000,219625.700,11559.2470,-565.0000,175783.73,245781.0,179055.0,179055.00,202500.0,1.000000,9.0,0.0,NaN,-499.875000,19.000000,-19.000000,1.008781e+06,15.000000,0.000000,0.750000,6.000000,0.000000,9251.775,31988.564,24.0,-190.0,-190.0,True,-25.0,285.00000,-19.0,-606.000000,...,0.000000,0.000000,NaN,1.875000,NaN,-124.0,0.000000,0.0,0,-15.500000,0,0.000000,0,0.000000,19.0,0.000000,0.0,0.0,0.000000,0.000,0.175426,0.0,NaN,0.0,0.000000,NaN,1.403409,0.0,15.0,NaN,24.0,NaN,-2701.0,0.0,0.000000,0.0,0,True,0.000000,NaN,NaN,-32.0,0.0,0,0.000000,0.0,0.0,0.000000,190.0,0.000000,1.000000,NaN,NaN,0.0,0.406960,0.000000,NaN,1.0,0.0,0.0,0.0,0.00,13.0,0.0,NaN,0.0,NaN,NaN,24.0,1,0.0,0,0,NaN,NaN,0.0,0,0,0.000000,0.000000,24.0,NaN,0.0,0.0,1.0,0.000000,NaN,0.000,0.0,0,365243.0,0.0,NaN,0,0.000000,0.0,NaN,3.375,0.000000,True
100003,36.234085,-16765,-1188.0,1154108.20,35698.5,-828.0,-606.0,-291,7.875,1293502.5,1216.0,0.132217,6662.970,0.00,-1186.0,-1400.750000,1,10.000000,0.003541,1,254350.120,5.785714,0.000,14.666667,NaN,453952.220,3442.50,22248.0,98356.990,810000.0,4.790750,0.0,0.100061,1.0,202500.000,-43.0,1.142857,-746.0,-4399.0,1150977.400,1.0,1400.0,1.040000,0.000,0.333333,NaN,0.0,1,-544.5000,0.000000,-540.0,1,164425.3300,-5603.0,0.000000,6737.310,98356.990,560835.400,-2586.0,-2178.0,-3013.0,-1510.28000,68809.50,0.0,56553.990,6737.310,-2434.0,0.333333,0.100061,80773.380,64754.5860,-1274.3334,1154108.20,0.0,1035882.0,484191.00,270000.0,0.333333,17.0,0.0,NaN,-816.000000,9.142857,-48.142857,4.394102e+06,2.625000,0.333333,0.750000,0.428571,0.050030,169661.970,810000.000,12.0,-172.0,-858.0,True,-536.0,162.00000,-25.0,-1305.000000,...,0.333333,0.000000,NaN,0.000000,NaN,0.0,0.000000,0.0,0,0.000000,0,0.000000,0,0.333333,7.0,0.071429,0.0,0.0,0.333333,0.000,0.000000,0.0,NaN,0.0,0.000000,NaN,0.000000,0.0,0.0,NaN,6.0,NaN,0.0,0.0,0.000000,0.0,0,True,0.666667,NaN,NaN,0.0,0.0,0,0.000000,0.0,0.0,0.000000,21.0,0.000000,0.333333,NaN,NaN,0.0,0.000000,0.000000,NaN,3.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN,0.0,NaN,NaN,12.0,1,2.0,0,0,NaN,NaN,0.0,1,0,0.333333,0.000000,6.0,NaN,0.0,0.0,1.0,0.000000,NaN,0.000,1.0,0,365243.0,0.0,NaN,0,0.333333,1.0,NaN,0.000,0.000000,False
100004,20.000000,-19046,-225.0,16071.75,6750.0,-815.0,-408.0,-2531,2.250,135000.0,-382.0,0.100000,5357.250,0.00,-4260.0,-867.000000,0,4.000000,0.010032,2,94518.900,2.250000,0.000,5.000000,NaN,21288.465,4860.00,94500.0,5357.250,94537.8,2.000000,0.0,0.212008,0.0,0.000,-382.0,1.333333,-815.0,-2285.0,21288.465,0.0,30.0,1.333333,0.000,0.000000,NaN,26.0,0,-488.5000,0.000000,-382.0,0,7096.1550,-1734.0,0.000000,5357.250,5357.250,10573.965,-1326.0,-977.0,-694.0,-795.00000,24282.00,0.0,5357.250,10573.965,-595.0,1.000000,0.212008,21288.465,7096.1550,-784.0000,16071.75,0.0,20106.0,20106.00,67500.0,0.000000,5.0,0.0,NaN,-532.000000,3.000000,-27.000000,3.172190e+04,2.250000,0.000000,1.000000,0.000000,0.212008,5357.250,0.000,4.0,-102.0,-102.0,False,-724.0,9.00000,-27.0,-815.000000,...,0.000000,0.000000,NaN,0.000000,NaN,0.0,0.000000,0.0,0,0.000000,0,0.000000,0,0.000000,3.0,0.250000,0.0,0.0,1.000000,0.000,0.000000,0.0,NaN,0.0,0.000000,NaN,0.000000,0.0,0.0,NaN,3.0,NaN,0.0,0.0,1.000000,1.0,0,True,0.000000,NaN,NaN,0.0,0.0,0,0.000000,0.0,0.0,0.000000,6.0,0.000000,0.000000,NaN,NaN,0.0,0.000000,0.000000,NaN,1.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN,0.0,NaN,NaN,3.0,1,0.0,0,0,NaN,NaN,0.0,0,0,0.000000,0.000000,4.0,NaN,0.0,0.0,1.0,0.000000,NaN,0.000,0.0,0,365243.0,0.0,NaN,0,0.000000,1.0,NaN,0.000,0.000000,False
100006,10.532818,-19005,-3039.0,994476.70,29686.5,-617.0,0.0,-2437,16.000,312682.5,0.0,0.219900,2482.920,0.00,-9833.0,0.000000,1,23.000000,0.008019,2,0.000,8.578231,0.000,14.666667,NaN,232499.700,34840.17,0.0,691786.900,0.0,2.316167,0.0,0.217830,3.0,0.000,0.0,2.000000,-181.0,-174.0,691786.900,0.0,8025.0,1.125000,0.000,0.222222,0.0,0.0,0,0.0000,0.111111,0.0,0,691786.9000,0.0,0.222222,2482.920,39954.510,691786.900,0.0,0.0,366336.0,-368.68750,26912.34,0.0,23651.176,15159.645,0.0,0.333333,0.326824,25091.324,62947.0860,91066.5000,994476.70,0.0,906615.0,291695.50,135000.0,0.222222,15.0,0.0,0.0,0.000000,7.333333,-13.238095,1.057860e+06,7.142857,0.777778,0.000000,1.428572,0.163412,141907.050,0.000,48.0,-15.0,-132.0,True,365243.0,180.14285,-6.0,-272.444444,...,0.111111,0.000000,0.0,0.000000,0.0,0.0,0.222222,0.0,0,0.000000,0,0.333333,0,0.111111,2.0,0.095238,0.0,8.0,0.000000,0.000,0.000000,0.0,0.0,0.0,0.111111,0.0,0.000000,0.0,0.0,0.0,1.0,NaN,0.0,1.0,0.000000,0.0,0,False,0.111111,0.0,0.0,0.0,0.0,0,0.222222,0.0,0.0,0.111111,1.0,0.111111,0.111111,NaN,0.0,0.0,0.000000,0.000000,0.0,8.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,NaN,12.0,1,0.0,0,0,270000.0,0.0,0.0,0,0,0.000000,0.111111,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.125,7.0,0,365243.0,0.0,1620000.0,0,0.888889,3.0,0.0,0.000,0.111111,False
100007,23.461618,-19932,-3038.0,483756.38,21865.5,-1106.0,-1149.0,-3458,18.500,513000.0,-783.0,0.179963,0.180,0.00,-4311.0,-1149.000000,0,20.666666,0.028663,2,146250.000,8.969697,0.000,12.333333,NaN,172669.890,3390.75,146250.0,16046.100,146250.0,4.222222,0.0,0.218890,13.0,0.000,-783.0,1.647059,-374.0,-2175.0,280199.700,0.0,1200.0,1.166667,0.000,0.000000,NaN,0.0,0,-783.0000,0.000000,-783.0,0,20919.4100,-1149.0,0.500000,1834.290,22678.785,22678.785,-1149.0,-783.0,-4186.0,-1217.69700,17176.50,0.0,12278.805,1834.290,-783.0,0.333333,0.319033,18330.390,12214.0600,-1263.2000,825845.80,0.0,284400.0,166638.75,121500.0,0.000000,15.0,0.0,NaN,-783.000000,12.863636,-40.000000,8.367034e+05,5.500000,0.166667,1.000000,2.515151,0.159516,73672.830,0.000,48.0,-78.0,-725.0,False,365243.0,592.00000,-12.0,-1222.833333,...,0.500000,0.015152,NaN,0.000000,NaN,0.0,0.000000,0.0,0,0.000000,0,0.000000,0,0.166667,10.0,0.045455,0.0,0.0,0.166667,0.000,0.000000,0.0,NaN,0.0,0.333333,NaN,0.000000,0.0,0.0,NaN,10.0,NaN,0.0,0.0,0.166667,1.0,1,False,0.333333,NaN,NaN,0.0,0.0,0,0.000000,0.0,0.0,0.000000,55.0,0.000000,0.000000,NaN,NaN,0.0,0.000000,0.076923,NaN,6.0,0.0,0.0,0.0,0.50,0.0,0.0,NaN,0.0,NaN,NaN,24.0,1,3.0,0,0,NaN,NaN,0.0,0,0,0.000000,0.000000,10.0,NaN,0.0,0.0,1.0,0.166667,NaN,0.000,1.0,0,365243.0,0.0,NaN,0,0.833333,2.0,NaN,0.000,0.000000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,9.242325,-9327,-236.0,46241.37,27558.0,-273.0,0.0,-1982,4.375,254700.0,0.0,0.174971,6605.910,0.00,-8456.0,0.000000,0,8.000000,0.032561,1,0.000,4.375000,0.000,17.000000,NaN,52450.470,0.00,0.0,6605.910,0.0,1.617143,0.0,0.000000,0.0,0.000,0.0,1.142857,-273.0,-1094.0,52450.470,0.0,30.0,1.142857,0.000,0.000000,NaN,0.0,0,0.0000,0.000000,0.0,0,7492.9243,0.0,1.000000,6605.910,6605.910,12815.010,0.0,0.0,0.0,-237.00000,40455.00,0.0,6605.910,12815.010,0.0,0.000000,0.000000,52450.470,7492.9243,-210.0000,46241.37,0.0,40455.0,40455.00,157500.0,0.000000,17.0,0.0,NaN,0.000000,7.000000,-9.000000,8.970507e+04,4.375000,0.000000,0.000000,0.000000,0.000000,6605.910,0.000,8.0,-45.0,-45.0,False,-30.0,39.37500,-9.0,-273.000000,...,0.000000,0.111111,NaN,0.000000,NaN,0.0,0.000000,0.0,0,0.000000,0,0.000000,0,0.000000,7.0,0.111111,0.0,0.0,0.000000,0.000,0.000000,0.0,NaN,0.0,0.000000,NaN,0.000000,0.0,0.0,NaN,7.0,NaN,0.0,0.0,0.000000,1.0,0,False,0.000000,NaN,NaN,0.0,0.0,0,0.000000,0.0,0.0,0.000000,28.0,0.000000,0.000000,NaN,NaN,0.0,0.000000,0.111111,NaN,1.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN,0.0,NaN,NaN,7.0,0,0.0,0,0,NaN,NaN,0.0,0,0,0.000000,0.000000,8.0,NaN,0.0,0.0,1.0,1.000000,NaN,0.000,0.0,1,365243.0,0.0,NaN,0,0.000000,0.0,NaN,0.000,0.000000,False
456252,22.459692,-20775,0.0,60281.28,12001.5,0.0,0.0,-4090,3.000,269550.0,0.0,0.166687,10046.880,0.00,-4388.0,0.000000,1,6.000000,0.025164,2,0.000,3.000000,0.000,10.000000,NaN,60419.203,3456.00,0.0,10046.880,0.0,3.743750,0.0,0.062443,0.0,0.000,0.0,1.000000,-2497.0,-14363.0,60419.203,0.0,190.0,1.000000,0.000,0.000000,NaN,0.0,0,0.0000,0.000000,0.0,0,10069.8670,0.0,0.000000,10074.465,10074.465,10074.465,0.0,0.0,-2316.0,-2470.00000,57595.50,0.0,10074.465,10074.465,0.0,0.000000,0.062443,60419.203,10069.8670,-2466.0000,60281.28,0.0,56821.5,56821.50,72000.0,1.000000,10.0,0.0,NaN,0.000000,6.000000,-82.000000,6.044679e+04,3.000000,0.000000,0.000000,0.000000,0.062443,10074.465,0.000,6.0,-553.0,-553.0,True,-2316.0,21.00000,-82.0,-2497.000000,...,1.000000,0.000000,NaN,0.000000,NaN,0.0,0.000000,0.0,0,0.000000,0,0.000000,0,0.000000,6.0,0.142857,0.0,0.0,0.000000,0.000,0.000000,0.0,NaN,0.0,0.000000,NaN,0.000000,0.0,0.0,NaN,6.0,NaN,0.0,0.0,0.000000,0.0,0,True,1.000000,NaN,NaN,0.0,0.0,0,0.000000,0.0,0.0,0.000000,21.0,0.000000,0.000000,NaN,NaN,0.0,0.000000,0.000000,NaN,1.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN,1.0,NaN,NaN,6.0,1,1.0,0,0,NaN,NaN,0.0,0,0,0.000000,0.000000,6.0,NaN,0.0,0.0,1.0,0.000000,NaN,0.000,0.0,0,365243.0,0.0,NaN,0,0.000000,0.0,NaN,0.000,0.000000,False
456253,22.604624,-14966,-7921.0,41805.99,29979.0,-1909.0,-713.0,-5150,3.000,677664.0,1113.0,0.195941,27.270,448958.25,-6737.0,-867.500000,1,5.000000,0.005002,3,990000.000,2.000000,0.000,11.500000,NaN,21778.004,4403.25,360000.0,5567.715,2250000.0,4.429176,0.0,0.324284,0.0,0.000,-5.0,1.000000,-1909.0,-8655.0,33413.758,2.0,22.0,1.000000,0.000,0.000000,NaN,0.0,1,280.5000,0.000000,-794.0,0,5568.9600,-3470.0,1.000000,3973.095,5567.715,5575.185,-919.0,1122.0,-4438.0,-2439.35720,19413.00,0.0,4770.405,2781.720,-189.0,0.500000,0.428633,8317.890,4115.9150,-2339.0000,61529.04,1624797.0,27306.0,20625.75,153000.0,0.000000,12.0,0.0,NaN,-253.250000,5.352941,-81.705882,6.166175e+04,0.750000,0.000000,0.500000,0.000000,0.214316,9540.810,0.000,6.0,-378.0,-549.0,True,-1716.0,34.00000,-63.0,-2380.000000,...,0.000000,0.000000,NaN,3.250000,NaN,0.0,0.000000,1.0,0,0.000000,0,0.000000,0,0.000000,3.0,0.117647,0.0,0.0,0.000000,0.000,0.459677,0.5,NaN,0.0,0.000000,NaN,1.838710,58369.5,13.0,NaN,4.0,NaN,-1671.0,0.0,0.000000,2.0,1,False,0.000000,NaN,NaN,0.0,0.0,0,0.000000,0.0,0.0,0.000000,13.0,0.000000,1.000000,NaN,NaN,0.0,0.404906,0.000000,NaN,2.0,0.0,0.0,0.0,0.00,19.0,0.0,NaN,0.0,NaN,NaN,12.0,1,1.0,0,0,NaN,NaN,5.0,1,0,0.000000,0.000000,4.0,NaN,0.0,0.0,10.0,1.000000,NaN,0.000,0.0,0,365243.0,0.0,NaN,0,0.500000,1.0,NaN,0.000,0.000000,False

# LightGBM

## Créer un scorer 
- Imaginons que l'organisme de crédit perde 10.000 par crédit remboursé "manqué" (faux positif)
- Qu'il perde 100.000 par crédit accepté non remboursé (faux négatif).

In [6]:
def scoring_fcn(y_true, y_pred, cout_FN = 100000, cout_FP = 10000):
    # Cout des faux negatifs: 
    loss_function = cout_FN* sum((1-y_true)*(y_pred))
    # Cout des faux positifs
    loss_function += cout_FP* sum((y_true)*(1-y_pred))
    
    return loss_function/len(y_true)

- Créer un autre sous-ensemble équilibré en TARGET
- Faire tourner le modèle avec les hyperparamètres trouvés précédemment, sur le sous-ensemble
- Récupérer le modèle pour pouvoir l'appeler ensuite avec une api

In [7]:
y_true = np.array([0,0,1,1,0,1])
y_pred = np.array([1,0,1,0,1,1])

scoring_fcn(y_true, y_pred)

35000.0

In [8]:
# pour créer un sous ensemble équilibré en TARGET
train_equilibre = train.groupby('TARGET').apply(lambda x: x.sample(n=8000, random_state=42)).reset_index(drop = True)

In [9]:
X = train_equilibre.drop(['TARGET'], axis=1)
y = train_equilibre['TARGET']

In [10]:
y.value_counts()

False    8000
True     8000
Name: TARGET, dtype: int64

In [11]:
def objective_weighted(params):
    params = {'boosting_type' : params['boosting_type'],
        'num_leaves': int(params['num_leaves']),
              'colsample_bytree': '{:.3f}'.format(params['colsample_bytree'])}
    clf = lgbm.LGBMClassifier(
        n_estimators=500,
        learning_rate=0.01,
        **params)
    
    # L'objectif est de minimiser la "loss fonction" définie par la fonction scoring_fcn
    
    
    from sklearn.metrics import make_scorer
    
    score = cross_val_score(clf, X, y, scoring=make_scorer(scoring_fcn), cv=10).mean()
    print("loss_function {:.3f} params {}".format(score, params))
    return score


space = {
    'boosting_type' : hp.choice('boosting_type', ('gbdt','dart','goss')),
    'num_leaves': hp.quniform('num_leaves', 8, 128, 2),
    'colsample_bytree': hp.uniform('colsample_bytree', 0.3, 1.0),
}


best = fmin(fn=objective_weighted,
            space=space,
            algo=tpe.suggest,
            max_evals=30)

loss_function 17705.000 params {'boosting_type': 'goss', 'num_leaves': 68, 'colsample_bytree': '0.867'}
loss_function 17436.250 params {'boosting_type': 'goss', 'num_leaves': 110, 'colsample_bytree': '0.382'}
loss_function 17508.750 params {'boosting_type': 'gbdt', 'num_leaves': 24, 'colsample_bytree': '0.571'}
loss_function 18142.500 params {'boosting_type': 'dart', 'num_leaves': 60, 'colsample_bytree': '0.890'}
loss_function 17397.500 params {'boosting_type': 'gbdt', 'num_leaves': 64, 'colsample_bytree': '0.301'}
loss_function 17618.750 params {'boosting_type': 'goss', 'num_leaves': 36, 'colsample_bytree': '0.388'}
loss_function 17513.125 params {'boosting_type': 'goss', 'num_leaves': 64, 'colsample_bytree': '0.442'}
loss_function 18337.500 params {'boosting_type': 'dart', 'num_leaves': 36, 'colsample_bytree': '0.756'}
loss_function 17603.750 params {'boosting_type': 'goss', 'num_leaves': 124, 'colsample_bytree': '0.468'}
loss_function 18361.875 params {'boosting_type': 'dart', 'num_leaves': 24, 'colsample_bytree': '0.533'}
loss_function 17405.625 params {'boosting_type': 'gbdt', 'num_leaves': 72, 'colsample_bytree': '0.318'}
loss_function 17676.250 params {'boosting_type': 'dart', 'num_leaves': 124, 'colsample_bytree': '0.539'}
loss_function 18213.125 params {'boosting_type': 'dart', 'num_leaves': 56, 'colsample_bytree': '0.878'}
loss_function 18571.250 params {'boosting_type': 'dart', 'num_leaves': 14, 'colsample_bytree': '0.472'}
loss_function 18021.250 params {'boosting_type': 'dart', 'num_leaves': 100, 'colsample_bytree': '0.746'}
loss_function 17588.125 params {'boosting_type': 'gbdt', 'num_leaves': 36, 'colsample_bytree': '0.345'}
loss_function 17516.250 params {'boosting_type': 'goss', 'num_leaves': 38, 'colsample_bytree': '0.528'}
loss_function 18250.000 params {'boosting_type': 'dart', 'num_leaves': 38, 'colsample_bytree': '0.837'}
loss_function 17878.750 params {'boosting_type': 'goss', 'num_leaves': 26, 'colsample_bytree': '0.816'}
loss_function 17930.625 params {'boosting_type': 'gbdt', 'num_leaves': 12, 'colsample_bytree': '0.736'}
loss_function 17435.000 params {'boosting_type': 'gbdt', 'num_leaves': 82, 'colsample_bytree': '0.315'}
loss_function 17443.125 params {'boosting_type': 'gbdt', 'num_leaves': 80, 'colsample_bytree': '0.961'}
loss_function 17485.000 params {'boosting_type': 'gbdt', 'num_leaves': 88, 'colsample_bytree': '0.301'}
loss_function 17554.375 params {'boosting_type': 'gbdt', 'num_leaves': 50, 'colsample_bytree': '0.613'}
loss_function 17407.500 params {'boosting_type': 'gbdt', 'num_leaves': 74, 'colsample_bytree': '0.652'}
loss_function 17351.250 params {'boosting_type': 'gbdt', 'num_leaves': 98, 'colsample_bytree': '0.410'}
loss_function 17443.125 params {'boosting_type': 'gbdt', 'num_leaves': 96, 'colsample_bytree': '0.408'}
loss_function 17341.875 params {'boosting_type': 'gbdt', 'num_leaves': 110, 'colsample_bytree': '0.356'}
loss_function 17341.875 params {'boosting_type': 'gbdt', 'num_leaves': 114, 'colsample_bytree': '0.638'}
loss_function 17450.625 params {'boosting_type': 'gbdt', 'num_leaves': 114, 'colsample_bytree': '0.689'}
100%|██████████| 30/30 [1:44:45<00:00, 209.52s/trial, best loss: 17341.875]

In [12]:
best

{'boosting_type': 0,
 'colsample_bytree': 0.3560992793108581,
 'num_leaves': 110.0}

## Entrainer le scorer sur un plus gros set, pour l'utiliser ensuite

In [54]:
train['TARGET'].value_counts()

False    282686
True      24825
Name: TARGET, dtype: int64

In [55]:
# pour créer un sous ensemble équilibré en TARGET
train_equilibre = train.groupby('TARGET').apply(lambda x: x.sample(n=24000, random_state=42)).reset_index(drop = True)
X = train_equilibre.drop(['TARGET'], axis=1)
y = train_equilibre['TARGET']
y.value_counts()

False    24000
True     24000
Name: TARGET, dtype: int64

In [56]:
clf_final_lgbm = lgbm.LGBMClassifier(n_estimators=500, learning_rate=0.01, boosting_type = 'gbdt',
 colsample_bytree = 0.3560992793108581,
 num_leaves = 110, random_state = 42)
clf_final_lgbm.fit(X,y)

LGBMClassifier(colsample_bytree=0.3560992793108581, learning_rate=0.01,
               n_estimators=500, num_leaves=110, random_state=42)

In [57]:
y_pred_lgbm = clf_final_lgbm.predict(X)
scoring_fcn(y, y_pred_lgbm)

10702.708333333334

In [58]:
clf_final_lgbm

LGBMClassifier(colsample_bytree=0.3560992793108581, learning_rate=0.01,
               n_estimators=500, num_leaves=110, random_state=42)

In [59]:
# Save classifier
import pickle
# save the model to disk
filename = '../app/models/finalized_model_lgbm.sav'
pickle.dump(clf_final_lgbm, open(filename, 'wb'))

# some time later...
 
# load the model from disk
#loaded_model = pickle.load(open(filename, 'rb'))
#result = loaded_model.score(X_test, Y_test)
#print(result)

In [60]:
test = pd.read_csv('../app/data/m_test.csv', index_col = 'SK_ID_CURR')
Y_TEST_PREDICT = clf_final_lgbm.predict(test)

In [62]:
Y_TEST_PROBA = clf_final_lgbm.predict_proba(test)

In [65]:
max(Y_TEST_PROBA[:,1])

0.918064161136976

In [66]:
np.where(Y_TEST_PROBA[:,1]==max(Y_TEST_PROBA[:,1]))

(array([32608]),)

In [67]:
test.iloc[32608]

CREDIT_TERM                                                    20.0
DAYS_BIRTH                                                    -8528
DAYS_EMPLOYED                                                -279.0
client_installments_AMT_PAYMENT_min_sum                     3298.32
AMT_ANNUITY                                                 19449.0
                                                             ...
previous_NAME_CLIENT_TYPE_Repeater_mean                    0.666667
previous_NAME_TYPE_SUITE_Unaccompanied_sum                      1.0
client_credit_CNT_DRAWINGS_POS_CURRENT_sum_min                  NaN
client_bureau_balance_STATUS_1_sum_mean                         0.5
previous_NAME_GOODS_CATEGORY_ConstructionMaterials_mean         0.0
Name: 337338, Length: 339, dtype: object

In [28]:
np.unique(Y_TEST_PREDICT, return_counts = True)

(array([False,  True]), array([34510, 14234]))

# Random Forest

In [29]:
# pour créer un sous ensemble équilibré en TARGET
train_equilibre = train.groupby('TARGET').apply(lambda x: x.sample(n=8000, random_state=42)).reset_index(drop = True)

In [30]:
X = train_equilibre.drop(['TARGET'], axis=1)
y = train_equilibre['TARGET']

In [31]:
y.value_counts()

False    8000
True     8000
Name: TARGET, dtype: int64

In [33]:
def objective_weighted(params):
    
    from sklearn.ensemble import RandomForestClassifier
    
    params = {'n_estimators' : int(params['n_estimators']),
        'max_depth': int(params['max_depth']),
              'min_samples_leaf': float(params['min_samples_leaf'])}
    clf = RandomForestClassifier(n_estimators = 500, max_depth = 50, criterion='gini', min_samples_leaf=0.01)
    # L'objectif est de minimiser la "loss fonction" définie par la fonction scoring_fcn
    
    
    from sklearn.metrics import make_scorer
    from sklearn.impute import SimpleImputer
    
    # Create our imputer to replace missing values with the mean e.g.
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(X)

    # Impute our data, then train
    X_train_imp = imp.transform(X)
    
    
    
    score = cross_val_score(clf, X_train_imp, y, scoring=make_scorer(scoring_fcn), cv=10).mean()
    print("loss_function {:.3f} params {}".format(score, params))
    return score


space = {
    'n_estimators' : hp.uniform('n_estimators', 100, 500),
    'max_depth': hp.uniform('max_depth', 10, 50),
    'min_samples_leaf': hp.uniform('min_samples_leaf', 0.01, 0.1),
}


best_rf = fmin(fn=objective_weighted,
            space=space,
            algo=tpe.suggest,
            max_evals=30)

loss_function 18819.375 params {'n_estimators': 436, 'max_depth': 25, 'min_samples_leaf': 0.05099066626820067}
loss_function 18714.375 params {'n_estimators': 154, 'max_depth': 21, 'min_samples_leaf': 0.07712947260998261}
loss_function 18825.000 params {'n_estimators': 208, 'max_depth': 48, 'min_samples_leaf': 0.047310512000999116}
loss_function 18922.500 params {'n_estimators': 479, 'max_depth': 17, 'min_samples_leaf': 0.08081644157173073}
loss_function 18917.500 params {'n_estimators': 150, 'max_depth': 19, 'min_samples_leaf': 0.055088860021058485}
loss_function 18938.125 params {'n_estimators': 143, 'max_depth': 21, 'min_samples_leaf': 0.08390504924319715}
loss_function 18976.250 params {'n_estimators': 290, 'max_depth': 39, 'min_samples_leaf': 0.06799831753814088}
loss_function 18780.000 params {'n_estimators': 292, 'max_depth': 49, 'min_samples_leaf': 0.09267955567916485}
loss_function 18896.250 params {'n_estimators': 149, 'max_depth': 28, 'min_samples_leaf': 0.010870161062464639}
loss_function 18889.375 params {'n_estimators': 343, 'max_depth': 44, 'min_samples_leaf': 0.05512025650022704}
loss_function 18846.875 params {'n_estimators': 261, 'max_depth': 42, 'min_samples_leaf': 0.031341046155148655}
loss_function 18887.500 params {'n_estimators': 292, 'max_depth': 33, 'min_samples_leaf': 0.0643719026087222}
loss_function 18796.250 params {'n_estimators': 495, 'max_depth': 36, 'min_samples_leaf': 0.02562351853972661}
loss_function 18783.750 params {'n_estimators': 487, 'max_depth': 18, 'min_samples_leaf': 0.0782984463725322}
loss_function 18880.000 params {'n_estimators': 110, 'max_depth': 45, 'min_samples_leaf': 0.07385409393847864}
loss_function 18798.750 params {'n_estimators': 249, 'max_depth': 24, 'min_samples_leaf': 0.04577556644270329}
loss_function 18934.375 params {'n_estimators': 259, 'max_depth': 26, 'min_samples_leaf': 0.06811072236153252}
loss_function 18926.250 params {'n_estimators': 169, 'max_depth': 16, 'min_samples_leaf': 0.023679716323749884}
loss_function 18763.750 params {'n_estimators': 133, 'max_depth': 10, 'min_samples_leaf': 0.06616377168169246}
loss_function 18872.500 params {'n_estimators': 287, 'max_depth': 34, 'min_samples_leaf': 0.04845063762307341}
loss_function 18777.500 params {'n_estimators': 366, 'max_depth': 11, 'min_samples_leaf': 0.09697792005297434}
loss_function 18781.250 params {'n_estimators': 109, 'max_depth': 10, 'min_samples_leaf': 0.08856580263701241}
loss_function 18924.375 params {'n_estimators': 197, 'max_depth': 14, 'min_samples_leaf': 0.061348451186025124}
loss_function 18687.500 params {'n_estimators': 208, 'max_depth': 21, 'min_samples_leaf': 0.03657344445087089}
loss_function 18914.375 params {'n_estimators': 212, 'max_depth': 22, 'min_samples_leaf': 0.03738079161026236}
loss_function 18823.750 params {'n_estimators': 181, 'max_depth': 30, 'min_samples_leaf': 0.010257031081221335}
loss_function 18908.125 params {'n_estimators': 233, 'max_depth': 14, 'min_samples_leaf': 0.03989508541727338}
loss_function 18956.250 params {'n_estimators': 358, 'max_depth': 21, 'min_samples_leaf': 0.017976069356682417}
loss_function 18923.750 params {'n_estimators': 415, 'max_depth': 25, 'min_samples_leaf': 0.037762174067318556}
loss_function 18861.875 params {'n_estimators': 224, 'max_depth': 29, 'min_samples_leaf': 0.0576435137746766}
100%|██████████| 30/30 [9:16:25<00:00, 1112.86s/trial, best loss: 18687.5]

In [34]:
best

{'max_depth': 21.989896116337036,
 'min_samples_leaf': 0.03657344445087089,
 'n_estimators': 208.85926188025218}

## Entrainer le scorer sur un plus gros set, pour l'utiliser ensuite

In [35]:
train['TARGET'].value_counts()

False    282686
True      24825
Name: TARGET, dtype: int64

In [36]:
# pour créer un sous ensemble équilibré en TARGET
train_equilibre = train.groupby('TARGET').apply(lambda x: x.sample(n=24000, random_state=42)).reset_index(drop = True)
X = train_equilibre.drop(['TARGET'], axis=1)
y = train_equilibre['TARGET']
y.value_counts()

False    24000
True     24000
Name: TARGET, dtype: int64

In [39]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer

# Create our imputer to replace missing values with the mean e.g.
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp = imp.fit(X)

# Impute our data, then train
X_train_imp = imp.transform(X)


clf_final_rf = RandomForestClassifier(max_depth = 22, min_samples_leaf = 0.03657344445087089, n_estimators = 210,
                                     random_state = 42)
clf_final_rf.fit(X_train_imp,y)

RandomForestClassifier(max_depth=22, min_samples_leaf=0.03657344445087089,
                       n_estimators=210)

In [40]:
y_pred_rf = clf_final_rf.predict(X_train_imp)
scoring_fcn(y, y_pred_rf)

19211.875

In [41]:
clf_final_rf

RandomForestClassifier(max_depth=22, min_samples_leaf=0.03657344445087089,
                       n_estimators=210)

In [43]:
# Save classifier
import pickle
# save the model to disk
filename = '../app/models/finalized_model_rf.sav'
pickle.dump(clf_final_rf, open(filename, 'wb'))

# some time later...
 
# load the model from disk
#loaded_model = pickle.load(open(filename, 'rb'))
#result = loaded_model.score(X_test, Y_test)
#print(result)

In [45]:
test = pd.read_csv('../app/data/m_test.csv', index_col = 'SK_ID_CURR')
# Create our imputer to replace missing values with the mean e.g.
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp = imp.fit(test)

# Impute our data, then train
X_test_imp = imp.transform(test)
Y_TEST_PREDICT = clf_final_rf.predict(X_test_imp)

In [46]:
np.unique(Y_TEST_PREDICT, return_counts = True)

(array([False,  True]), array([31382, 17362]))

# SVM

In [81]:
# pour créer un sous ensemble équilibré en TARGET
train_equilibre = train.groupby('TARGET').apply(lambda x: x.sample(n=8000, random_state=42)).reset_index(drop = True)

In [82]:
X = train_equilibre.drop(['TARGET'], axis=1)
y = train_equilibre['TARGET']

In [83]:
y.value_counts()

False    8000
True     8000
Name: TARGET, dtype: int64

In [84]:
def objective_weighted(params):
    
    from sklearn.svm import LinearSVC
    from sklearn.preprocessing import StandardScaler

    
    params = {'C' : float(params['C'])}
    clf = LinearSVC(C=0.1, random_state = 42, max_iter=10000, dual=False)
    # L'objectif est de minimiser la "loss fonction" définie par la fonction scoring_fcn
    
    
    from sklearn.metrics import make_scorer
    from sklearn.impute import SimpleImputer
    
    # Create our imputer to replace missing values with the mean e.g.
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp = imp.fit(X)

    # Impute our data, then train
    X_train_imp = imp.transform(X)
    
    # Standardize data
    scaler = StandardScaler()
    X_train_scale = scaler.fit_transform(X_train_imp)
    
    score = cross_val_score(clf, X_train_scale, y, scoring=make_scorer(scoring_fcn), cv=10).mean()
    print("loss_function {:.3f} params {}".format(score, params))
    return score


space = {
    'C' : hp.uniform('C', 0.1, 1)}


best_svm = fmin(fn=objective_weighted,
            space=space,
            algo=tpe.suggest,
            max_evals=10)

loss_function 18302.500 params {'C': 0.6838334452216949}
loss_function 18302.500 params {'C': 0.23869731479407208}
loss_function 18302.500 params {'C': 0.581670403384514}
loss_function 18302.500 params {'C': 0.6383690513956735}
loss_function 18302.500 params {'C': 0.2798044621578304}
loss_function 18302.500 params {'C': 0.3440815676736435}
loss_function 18302.500 params {'C': 0.8414715700286014}
loss_function 18302.500 params {'C': 0.6626046722882453}
loss_function 18302.500 params {'C': 0.6325309244039472}
loss_function 18302.500 params {'C': 0.4115479640701276}
100%|██████████| 10/10 [12:18<00:00, 73.88s/trial, best loss: 18302.5]

In [85]:
best_svm

{'C': 0.6838334452216949}

## Entrainer le scorer sur un plus gros set, pour l'utiliser ensuite

In [103]:
train['TARGET'].value_counts()

False    282686
True      24825
Name: TARGET, dtype: int64

In [104]:
# pour créer un sous ensemble équilibré en TARGET
train_equilibre = train.groupby('TARGET').apply(lambda x: x.sample(n=24000, random_state=42)).reset_index(drop = True)
X = train_equilibre.drop(['TARGET'], axis=1)
y = train_equilibre['TARGET']
y.value_counts()

False    24000
True     24000
Name: TARGET, dtype: int64

In [105]:
from sklearn.svm import LinearSVC
from sklearn.preprocessing import StandardScaler

# Create our imputer to replace missing values with the mean e.g.
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp = imp.fit(X)

# Impute our data, then train
X_train_imp = imp.transform(X)

# Standardize data
scaler = StandardScaler()
X_train_scale = scaler.fit_transform(X_train_imp)

print('début de la modélisation')
clf_final_svc = LinearSVC(C = 1, random_state = 42, max_iter=10000, dual=False)

clf_final_svc.fit(X_train_scale,y)

début de la modélisation

LinearSVC(C=1, dual=False, max_iter=10000, random_state=42)

In [106]:
y_pred_svc = clf_final_svc.predict(X_train_scale)
scoring_fcn(y, y_pred_svc)

17726.458333333332

In [107]:
clf_final_svc

LinearSVC(C=1, dual=False, max_iter=10000, random_state=42)

In [108]:
# Save classifier
import pickle
# save the model to disk
filename = '../app/models/finalized_model_svc.sav'
pickle.dump(clf_final_svc, open(filename, 'wb'))

# some time later...
 
# load the model from disk
#loaded_model = pickle.load(open(filename, 'rb'))
#result = loaded_model.score(X_test, Y_test)
#print(result)

In [109]:
test = pd.read_csv('../app/data/m_test.csv', index_col = 'SK_ID_CURR')

test_imp = imp.transform(test)
test_scale = scaler.transform(test_imp)


Y_TEST_PREDICT = clf_final_svc.predict(test_scale)

In [110]:
np.unique(Y_TEST_PREDICT, return_counts = True)

(array([False,  True]), array([33116, 15628]))

# Feature importance

In [ ]:
def identify_zero_importance_features(train, train_labels, iterations = 2):
    """
    Identify zero importance features in a training dataset based on the 
    feature importances from a gradient boosting model. 
    
    Parameters
    --------
    train : dataframe
        Training features
        
    train_labels : np.array
        Labels for training data
        
    iterations : integer, default = 2
        Number of cross validation splits to use for determining feature importances
    """
    
    # Initialize an empty array to hold feature importances
    feature_importances = np.zeros(train.shape[1])

    # Create the model with several hyperparameters
    model = lgb.LGBMClassifier(objective='binary', boosting_type = 'goss', n_estimators = 10000, class_weight = 'balanced')
    
    # Fit the model multiple times to avoid overfitting
    for i in range(iterations):

        # Split into training and validation set
        train_features, valid_features, train_y, valid_y = train_test_split(train, train_labels, test_size = 0.25, random_state = i)

        # Train using early stopping
        model.fit(train_features, train_y, early_stopping_rounds=100, eval_set = [(valid_features, valid_y)], 
                  eval_metric = 'auc', verbose = 200)

        # Record the feature importances
        feature_importances += model.feature_importances_ / iterations
    
    feature_importances = pd.DataFrame({'feature': list(train.columns), 'importance': feature_importances}).sort_values('importance', ascending = False)
    
    # Find the features with zero importance
    zero_features = list(feature_importances[feature_importances['importance'] == 0.0]['feature'])
    print('\nThere are %d features with 0.0 importance' % len(zero_features))
    
    return zero_features, feature_importances

In [ ]:
feature_importances = pd.DataFrame({'feature': list(X.columns), 
                                    'importance': clf_final.feature_importances_}).sort_values('importance',
                                                                                               ascending = False)
feature_importances['relative_importance'] = 100*feature_importances['importance']/sum(feature_importances['importance'])
feature_importances.head(10)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt 
plt.figure(figsize=(10,6))
sns.barplot(x='relative_importance', y='feature', data = feature_importances.head(10))
plt.xlabel('relative importance (in %)');

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt 
plt.figure(figsize=(10,8))
sns.barplot(x='importance', y='feature', data = feature_importances.head(20));

In [ ]:
feature_importances['relative_importance']

# AUC-ROC pour Light GBM

In [ ]:
def objective(params):
    params = {'boosting_type' : params['boosting_type'],
        'num_leaves': int(params['num_leaves']),
              'colsample_bytree': '{:.3f}'.format(params['colsample_bytree'])}
    clf = lgbm.LGBMClassifier(
        n_estimators=500,
        learning_rate=0.01,
        **params)
    
    # L'objectif est de maximiser AUC - pour hyperopt on veut minimiser le score
    # d'où le 1-ROCAUC
    score = 1 - cross_val_score(clf, X, y, scoring='roc_auc', cv=10).mean()
    print("ROC-AUC {:.3f} params {}".format(score, params))
    return score


space = {
    'boosting_type' : hp.choice('boosting_type', ('gbdt','dart','goss')),
    'num_leaves': hp.quniform('num_leaves', 8, 128, 2),
    'colsample_bytree': hp.uniform('colsample_bytree', 0.3, 1.0),
}


best = fmin(fn=objective,
            space=space,
            algo=tpe.suggest,
            max_evals=30)